
  #campanas div {
	font-family: Verdana;
	color: gray;
	font-size: 10pt;
	text-transform: uppercase;
}
#veleta p~p {
	font-family: Coldbringer;
	src:url('./Coldbringer.ttf');
	font-size: 15pt;
	color: #D85E20;
}