p[class*="leyenda"]:first-line{

font-style: italic;
font-weight: bold;
}


div[id=Segovia]:first-letter { 
font-size: 3em;
}





 a[href] {
	font-family: Comic Sans MS;
	font-size: 14pt;
	color: yellow;
}

a[href]:visited{

color:brown;

}

a[href]:active{

color:purple;

}

a[href]:hover{

color:orange;
font-size: 1.40em;
}


div#leyendas > p:before{

font-family: Arial;
color: pink;
font-size: 12pt;
content: "Leyenda";
}

div:first-child {

color:#A4F213;
font-family:Cambria;
font-size:28pt;


}

p:nth-child(3){

font-family:Times New Roman;
font-size:13pt;
color: hsl(310, 100%, 50%);


}
 
 
 
 div p:nth-last-child(2){
 color:rgb(123,171,171);
 font-family:Times New Roman;
 font-size:11pt;
 }
